<div class="container">
    <div class="row">
<div  class="col-xs-6">
    <div >
        <table class="table table-bordered ">
          <tr>
            <th>Type</th>
            <th>Content</th>
            <th>Created Date</th>
            <th>Reminder Date & Time</th>
            <th>Is Complete</th>
            <th>Due Date & Time</th>
          </tr>
            <tr *ngFor="let item of noteList">
            <td *ngIf="item.noteType==1">Regular</td>
            <td *ngIf="item.noteType==2">Reminder</td>
            <td *ngIf="item.noteType==3">Todo</td>
            <td *ngIf="item.noteType==4">Bookmark</td>
            <td>{{item.noteContent}}</td>
            <td>{{item.noteDate | date}}</td>
            <td>{{item.reminderTimeDate | date:'medium'}}</td>
            <td>{{item.isComplete}}</td>
            <td>{{item.dueTimeDate | date:'medium'}}</td>
            </tr>
            </table>
    </div>
    </div>
</div>
</div>